body {
  
  border-radius: 20px;
}
.alerta-turno {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 70%;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  color: transparent;
  

  .alert-text {
    margin-top: 1rem;

    h2 {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: #000;
    }

    p {
      font-size: 2.2rem;
      color: #858585;
      border: none;
      padding: 1.2rem 1.5rem;
      margin: 0;
      font-family: 'Open Sans';
      font-weight: 400;
      letter-spacing: 0.01em;
    }
  }

  .alert-icon {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
      height: auto;
      margin: 1rem 0;
    }
  }

  .boton-alerta {
    --background: transparent;
    --color: #661B70;
    font-weight: 600;
    font-size: 1.6rem;
    box-shadow: none;
    --border-width: 0;
    --box-shadow: none;
    --border-color: transparent;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-left: auto;
    padding-bottom: 2rem;
    padding-right: 0.5rem;
  }
}
