<app-banner-global></app-banner-global>
<ion-content class="ion-padding">
  <div class="nuevo-turno-container">
    <form class="nuevo-turno-form">
      <div class="form-group">
        <ion-label><b>Tipo de identificación</b></ion-label>
        <select [(ngModel)]="tipoId" name="tipoId" class="form-control">
          <option value="">Seleccionar</option>
          <option value="CC">Cédula de ciudadanía</option>
          <option value="TI">Tarjeta de identidad</option>
          <option value="CE">Cédula de extranjería</option>
        </select>
      </div>
      <div class="form-group">
        <ion-label><b>Numero de documento</b></ion-label>
        <input
          id="numero-doc"
          class="form-control"
          type="text"
          placeholder="Ingresar numero"
          maxlength="15"
          autocomplete="off"
          readonly
          (input)="onInputNumber($event)"
          [(ngModel)]="numeroDoc"
          name="numeroDoc"
        />
      </div>
    </form>

    <!-- Numeric Keypad -->
    <div class="numeric-keypad">
      <div class="keypad-row" *ngFor="let row of keypadRows">
        <ion-button 
          *ngFor="let key of row" 
          class="keypad-button"
          (click)="onKeypadPress(key)"
          expand="block"
        >
          {{key}}
        </ion-button>
      </div>
      <div class="keypad-row">
        <ion-button class="keypad-button clear" (click)="clearInput()" expand="block">
          C
        </ion-button>
        <ion-button class="keypad-button" (click)="onKeypadPress('0')" expand="block">
          0
        </ion-button>
        <ion-button class="keypad-button delete" (click)="deleteLastDigit()" expand="block">
          ←
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<app-arrow-nav
  direction="left"
  route="/home"
  icon="assets/icon/flechaizquierda.png"
></app-arrow-nav>

<app-arrow-nav
  direction="right"
  route="/nuevo-turno-2"
  icon="assets/icon/flechaderecha.png"
  [disabled]="isNextDisabled()"
  (beforeNavigate)="guardarDocumento()"
></app-arrow-nav>