

.banner-global {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #661B70;
  padding: 0.5rem 1rem;
  width: 100vw;
  height: auto;
  max-height: 120px;
}   

.logo-usco {
  height: 70px;
  margin-left: 2rem;
  padding: 0.2rem 0.5rem;
}

.Text-usco {
    height: 70px;
    margin-right: 2rem;
    padding: 0.2rem 0.5rem;
  }
  

.banner-texts {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.titulo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: auto;
  letter-spacing: 0.05em;
  text-align: right;
  font-weight: bold;
}

@media (max-width: 600px) {
  .banner-global {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    min-height: 100px;
  }
  .logo-usco {
    height: 50px;
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
  .banner-texts {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .titulo {
    margin: 0;
    font-size: 1rem;
    text-align: left;
  }
  .titulo {
    font-size: 1.1rem;
  }
}
