@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Colores institucionales
$usco-morado: #661B70;
$usco-morado-claro: #B272BC;
$usco-morado-claro-linear: linear-gradient(90deg, #B272BC 0%, #661B70 100%);
$usco-lila: #D8B8DD;
$usco-lila-linear: linear-gradient(90deg, #D8B8DD 0%, #9E64A6 100%);
$usco-rosa: #DEBEE3;
$usco-rosa-linear: linear-gradient(90deg, #DEBEE3 0%, #694E6D 100%);
$usco-violeta: #8C2D99;

// Fuente primaria
$font-family-primary: 'Open Sans', Arial, Helvetica, sans-serif;
