:host {
  display: block;
  height: 100%;
}

.confirmar-container {
  position: relative;        /* contexto para los elementos absolutos */
  --background: #fff;
  height: 100vh;
}

.resultado-card,
.error-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
}



.error-card {
  border: 2px solid #e74c3c;
}

.boton-volver ion-button {
  --background: linear-gradient(90deg, #B272BC 0%, #661B70 100%);
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 300px;
}
