<nav class="bg-[#661B70] text-white p-6 shadow-lg">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <img src="assets/images/LogoBordeBlanco.png" alt="LogoUsco" class="w-20 h-20">
      <img src="assets/images/NombreBordeBlanco.png" alt="LogoUsco" class="w-200 h-20">
    </div>
    <div class="flex space-x-8">
      <div class="flex items-center space-x-4">
        <img src="assets/images/iso.png" alt="Iso" class="w-auto h-20">
        <img src="assets/images/iqnet.png" alt="iqnet" class="w-auto h-20">
      </div>
      <div class="flex items-center">
        <div class="text-6xl font-bold">{{ currentTime }}</div>
      </div>
    </div>
  </div>
</nav> 