:host {
  display: block;
  height: 100%;
  position: relative;
}

.confirmar-container {
  --background: #fff;
}

h2 {
  margin-top: 1rem;
  text-align: center;
  color: #661B70;
  font-size: 1.8rem;
  font-weight: 900;
}

.resumen-grid {
  margin: 1.5rem 0;

  .col-vertical {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .item {
      display: flex;
      flex-direction: column;

      ion-label strong {
        color: #661B70;
        margin-bottom: 0.25rem;
      }
      p {
        margin: 0;
        color: #333;
      }
    }
  }
}

.botones-acciones {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 1rem;

  .accion-btn {
    flex: 1;
    --border-radius: 16px;
    --background: linear-gradient(90deg, #B272BC 0%, #661B70 100%);
    --color: #fff;
    font-weight: 700;
  }
}

.resultado-card,
.error-card {
  margin: 1.5rem;
  --ion-background: #fff;
  box-shadow: 0 4px 16px rgba(102, 27, 112, 0.05);
}

.error-card {
  border: 2px solid #e74c3c;
}
