.nuevo-turno-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background: #fff;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #000000;
  }
}

.nuevo-turno-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // tres columnas
  grid-template-rows: repeat(2, auto);  // dos filas automáticas
  gap: 2rem; // espacio horizontal y vertical
  

  .form-group:nth-child(1) { grid-column: 1; grid-row: 1; } // Nombres
  .form-group:nth-child(2) { grid-column: 2; grid-row: 1; } // Apellidos
  .form-group:nth-child(3) { grid-column: 1; grid-row: 3  ; } // Tipo de turno

  .form-group:nth-child(4) { grid-column: 1; grid-row: 2; } // Tipo de documento
  .form-group:nth-child(5) { grid-column: 2; grid-row: 2; } // Número de documento
  
  
  p.form-control {
    background: #f5f5f5;
    border: none;
    border-radius: 12px;
    padding: 1.2rem 1.5rem;
    font-size: 1.2rem;
    color: #333;
    box-shadow: 0 2px 8px rgba(102, 27, 112, 0.05);
    margin: 0;
  }
}
label {
  font-size: 1.3rem;
  font-weight: bold;
  color: #111;
}

.botones-acciones {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 1rem;

  .accion-btn {
    flex: 1;
    min-height: 4rem;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 16px;
    background: #8C2D99 ;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }

  .accion-btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
