<ion-content [fullscreen]="true" class="home-content">
  <app-banner-global></app-banner-global>
  <div class="home-container">
    <div class="home-container-display"></div>
    <div class="home-actions">
      <button class="home-btn nuevo-turno"
       (click)="goToNuevoTurno()">
        <img src="assets/icon/newturno.png" alt="Icono turno nuevo"  class="icono-img"/>
        Nuevo turno
      </button>
      <button class="home-btn lista-turnos"
      (click)="gotolistarturno()">
        <img src="assets/icon/listturno.png" alt="Icono lista de turnos"  class="icono-img"/>
        Lista de turnos
      </button>
    </div>
    <div class="home-image">
      <img src="assets/images/espera.png" alt="Sala de espera consultorio jurídico"  />
    </div>
  </div>
</ion-content>
